<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data Hub</title>
    <link rel="stylesheet" href="{% static 'style/home.css' %}">
</head>
<body>
    <header>
        <h1>Weather Prediction and Analysis Web App</h1>
        <p>Predict, Visualize, and Analyze Weather Trends</p>
    </header>
    <section>
        <div id="ww_431b7bb0d1846" v='1.3' loc='auto' a='{"t":"horizontal","lang":"en","sl_lpl":1,"ids":[],"font":"Times","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#FFFFFF00","cl_font":"rgba(255,255,255,1)","cl_cloud":"#d4d4d4","cl_persp":"#2196F3","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","el_whr":3}'>
            <a style="color: #000E28;" href="https://weatherwidget.org/" id="ww_431b7bb0d1846_u" target="_blank">Widget weather HTML</a>
        </div>
        <script async src="https://app3.weatherwidget.org/js/?id=ww_431b7bb0d1846"></script>
    </section>
    <section class="iland">
    <div>
        <h2 style="color: aliceblue; text-decoration: wavy;">My Services</h2>
    </div>
    <div class="menu">
        <a href="{% url 'analysis' %}" class="menu-item analysis">
            <span style="color: #3586C8;">Weather Analysis</span>
        </a>
        <a href="{% url 'visualization' %}" class="menu-item visualization">
            <span style="color: yellow;">Weather Visualization</span>
        </a>
        <a href="{% url 'prediction' %}" class="menu-item prediction">
            <span style="color: #EF4E17;">Weather Prediction</span>
        </a>
        <a href="{% url 'update' %}" class="menu-item update">
            <span style="color: #E0E0E0;">Weather Update</span>
        </a>
    </div>
    </section>
    <section class="description">
        <h3>About This Project</h3>
        <p style="text-align: justify;">Welcome to Weather Prediction and Analysis Web App! This platform allows users to analyze past weather trends, visualize data in meaningful ways, predict future weather conditions, and stay updated with the latest weather reports. Upload your dataset and explore insights with ease.</p>
    </section>
    <footer>
        <p>&copy; 2025 | Weather Prediction & Analysis Web App</p>
    </footer>
</body>
</html>